<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Tag Info</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/{version}/css/bootstrap.min.css(version=${@webjarsConfig.bootstrap})}" />
    <script th:src="@{/webjars/jquery/{version}/jquery.min.js(version=${@webjarsConfig.jquery})}"></script>
    <script th:src="@{/webjars/bootstrap/{version}/js/bootstrap.min.js(version=${@webjarsConfig.bootstrap})}"></script>
  </head>

  <body>
    <div class="container">

      <span class="badge badge-pill badge-info" th:text="${targetTag.title}"></span>

      <div class="row mb-3" th:each="subTag : ${targetSubtags}">
        <div class="col-3" th:text="${subTag.title}">
        </div>

        <div class="col text-left">
          <form th:action="@{/subtags/delete/{subTagId}(subTagId=${subTag.id})}" th:method="delete">
            <input class="btn btn-danger btn-sm" type="submit" value="delete" />
          </form>
        </div>
      </div>

    </div>

    <div class="container">
      <hr>

      <a th:href="@{/tags}">
        <button type="button"  class="btn btn-outline-info">Tag Info</button>
      </a>
    </div>

  </body>
</html>
