<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>List of Tags</title>
    <link rel="stylesheet" href="/css/tags.css"></link>
  </head>

  <body>
      <table class="tag-table">
        <tr th:each="tag : ${tags}">
          <th class="tag-table-colum" th:text="${tag.title}">
          </th>
          <!-- <a th:href="@{'/tags/' + ${tag.id}}"> -->
          <!-- </a> -->
        </tr>
      </table>

      <a th:href="@{/urls}">Back To Urls</a>
  </body>
</html>
