<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>List of Urls</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/{version}/css/bootstrap.min.css(version=${@webjarsConfig.bootstrap})}" />
    <script th:src="@{/webjars/jquery/{version}/jquery.min.js(version=${@webjarsConfig.jquery})}"></script>
    <script th:src="@{/webjars/bootstrap/{version}/js/bootstrap.min.js(version=${@webjarsConfig.bootstrap})}"></script>
    <script type="text/javascript" src="/js/urls.list.js"></script>
    <script type="text/javascript" src="/js/utility.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="col-sm-12">

        <form method="post" th:action="@{/urls/create}" th:object="${urlForm}" id="urlForm">
          <fieldset class="border p-2">
            <legend class="w-auto text-uppercase">
              Add New Url
            </legend>

            <div class="form-row">
              <div class="col-sm-10 mb-3">
                <label class="form-control-label" for="address">
                  address
                </label>

                <input type="text" class="form-control" id="address" th:classappend="${not #lists.isEmpty(#fields.errors('address'))} ? is-invalid" name="address" th:field="*{address}" />
                <div class="invalid-feedback">
                  <p th:each="error: ${#fields.errors('address')}" th:text="${error}"></p>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-sm-10 mb-3">
                <label class="form-control-label" for="description">
                  description
                </label>

                <input type="text" class="form-control" id="description" th:classappend="${not #lists.isEmpty(#fields.errors('description'))} ? is-invalid" name="description" th:field="*{description}" />
                <div class="invalid-feedback">
                  <p th:each="error: ${#fields.errors('description')}" th:text="${error}"></p>
                </div>
              </div>
            </div>

            <div class="small badge badge-pill badge-info">
              Choose tags:
            </div>

            <div class="row mt-3 mb-3">
              <div class="col-3">
                <a th:href="@{/tags}">
                  <button type="button"  class="btn btn-outline-info">Tag Info</button>
                </a>
              </div>
            </div>

            <div class="form-check" id="TagSubTags" th:each="tag : ${tags}">
              <div class="row mt-3 ml-3 mr-3">
                <input type="checkbox" class="form-check-input tag-parent" th:value="${tag.id}" th:field="*{tagIds}"><div class="badge badge-pill badge-secondary" th:text="${tag.title}" /></input>
              </div>

              <div class="row ml-4 mr-4" th:classappend="'subtagrow-tagIds' + ${tag.id}" style="display:none">
                <div class="col-4" th:each="subTag : ${tag.subTags}" >
                  <input type="checkbox" class="form-check-input" th:value="${subTag.id}" th:text="${subTag.title}" th:field="*{subTagIds}" th:classappend="'tagIds' + ${tag.id} + '-subTag'"</input>
                </div>
              </div>
            </div>

            <div class="row mt-3 mb-3">
              <div class="col-3">
                <button type="submit" class="btn btn-primary" id="btnSubmit">Create</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>

    <div class="container">
      <hr>

      <div class="row mt-3">
        <div class="col-md-4 col-sm-6" th:each="url : ${urls}">
          <div class="d-block bg-light">
            <div class="overflow-hidden">
              <a th:href="${url.address}">
                <button type="button" class="btn btn-outline-primary btn-block" th:text="${url.address}"></button>
              </a>
            </div>

            <div class="small" style="width:100%; overflow: hidden" th:text="${url.description}">
            </div>

            <div class="col-auto badge badge-pill badge-secondary" th:each="tag : ${url.tags}" th:text="${tag.title}">
            </div>

            <div class="row">
              <div class="col">
                <form th:action="@{/urls/delete/{urlId}(urlId=${url.id})}" th:method="delete">
                  <input class="btn btn-danger btn-sm" type="submit" onclick="return ConfirmDelete();" value="delete" />
                </form>
              </div>
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>

  </body>
</html>
